.card {
  align-self: center;
  position: relative;

  width: 90%;
  min-height: 25rem;

  padding: 1rem;
  background-color: var(--pale-moon);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow-y: scroll;
  overflow-x: hidden;
}
.card * {
  margin: 0;
}
.topLayout {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 1rem;
}
.sectionHeader {
  text-align: start;
  display: flex;
  background-color: var(--cool-purple);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
.sectionHeader img {
  transition: all 0.3s;
}
.sectionHeaderExpanded img {
  transform: rotate(180deg);
}
.toggleButton {
  padding: 0;
}
.miscsHeader {
  display: flex;
  padding: 0.5rem;
  color: white;
}

.kanji {
  color: var(--cool-purple);
  border: 2px solid var(--cool-purple);
  background-color: var(--soft-white);
  border-radius: 10px;
  font-size: 3rem;
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.readingsLayout {
  flex: 1;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}
.readingWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
.readingHint {
  text-align: start;
  color: var(--lapis-lazuli-transparent);
  font-weight: bold;
  margin-right: 0.3rem;
}
.reading {
  --padding-sides: 0.5rem;
  background-color: var(--emerald);
  border-radius: 10px;
  color: var(--pale-gray);
  padding: 0.2rem;
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);
  text-align: start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.toggleButton {
  padding: 0;
}
.sectionLayout {
  border-radius: 10px;
  display: grid;
}
.contentWrapper {
  background-color: var(--soft-white);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: 0.3s all;
}
.contentWrapperExpanded {
  overflow-y: scroll;
  opacity: 1;
  height: 15rem;
}
.contentWrapperEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentWrapperEmpty::before {
  content: "Empty";
  color: var(--light-gray);
  font-size: 2rem;
}
.contentField {
  color: black;
  text-align: start;
  margin-top: 0.3rem;
}

.button {
  --size: 3.6rem;
  height: var(--size);
  width: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: -0.5rem;

  background-color: var(--pacific-cyan);
  border-radius: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.button img {
  transition: 0.2s filter;
}
.button:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(5613%)
    hue-rotate(240deg) brightness(84%) contrast(92%);
}
.buttonSaved {
  background-color: transparent;
  border-radius: 30%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  --size: 4rem;
  background-color: aliceblue;
}
.buttonSaved img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(5613%)
    hue-rotate(240deg) brightness(84%) contrast(92%);
}

.characterMeaningLayout {
  display: flex;
}
@media (min-width: 768px) {
  .card {
    justify-self: center;
    width: 90%;
    height: min-content;
  }
  .kanji {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .card {
    justify-self: center;
    width: 90%;
    height: max-content;
  }
  .kanji {
    font-size: 3rem;
  }
}
