.card {
  position: relative;
  width: 90%;
  min-height: 25rem;
  padding: 1rem;
  background-color: var(--pale-moon);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto; /* Use 'auto' for better UX */
  overflow-x: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.card * {
  margin: 0;
}

.topLayout {
  display: flex;
  align-items: flex-start; /* Use 'flex-start' for better alignment */
  justify-content: space-between; /* Use 'space-between' for better spacing */
  gap: 1rem;
}

.sectionHeader {
  display: flex;
  align-items: center; /* Center items vertically */
  background-color: var(--cool-purple);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.sectionHeader img {
  transition: transform 0.3s; /* Use 'transform' for smoother transitions */
}

.meaningsHeader {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.sectionHeaderExpanded img {
  transform: rotate(180deg);
}

.toggleButton {
  padding: 0;
}

.miscsHeader {
  display: flex;
  padding: 0.5rem;
  color: white;
}

.kanji {
  color: var(--cool-purple);
  border: 2px solid var(--cool-purple);
  background-color: var(--soft-white);
  border-radius: 10px;
  font-size: 3rem;
  padding: 1.5rem 2rem;
}

.readingsLayout {
  flex: 1;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.readingWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.readingHint {
  text-align: start;
  color: var(--lapis-lazuli-transparent);
  font-weight: bold;
  margin-right: 0.3rem;
}

.reading {
  background-color: var(--emerald);
  border-radius: 10px;
  color: var(--pale-gray);
  padding: 0.2rem 0.5rem; /* Simplified padding */
  text-align: start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.sectionLayout {
  border-radius: 10px;
  display: grid;
}

.contentWrapper {
  background-color: var(--soft-white);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

.contentWrapperExpanded {
  overflow-y: auto; /* Use 'auto' for better UX */
  opacity: 1;
  height: 15rem;
}

.contentWrapperEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapperEmpty::before {
  content: "Empty";
  color: var(--light-gray);
  font-size: 2rem;
}

.meaningsSectionHeader {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.3rem;
  margin: 0;
}

.meaningField {
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  text-align: start;
  margin: 0;
}

.contentField {
  background-color: var(--emerald);
  color: var(--soft-white);
  border-radius: 5px;
  padding: 0.3rem;
  font-weight: 500;
  text-align: start;
  margin-top: 0.3rem;
}

.button {
  --size: 3.6rem;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--pacific-cyan);
  border-radius: 50%; /* Use '50%' for a perfect circle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.button img {
  transition: filter 0.2s;
}

.button:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(5613%)
    hue-rotate(240deg) brightness(84%) contrast(92%);
}

.buttonSaved {
  background-color: transparent;
  border-radius: 50%; /* Use '50%' for a perfect circle */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  --size: 4rem;
  background-color: aliceblue;
}

.buttonSaved img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(5613%)
    hue-rotate(240deg) brightness(84%) contrast(92%);
}

.characterMeaningLayout {
  display: flex;
}

@media (min-width: 768px) {
  .card {
    justify-self: center;
    height: min-content;
  }
  .kanji {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .card {
    justify-self: center;
    height: max-content;
  }
  .kanji {
    font-size: 3rem;
  }
}
