.card {
  height: 16rem;

  background-color: white;

  border-radius: 0.375rem;
  border: 1px solid gray;

  position: relative;
  max-width: 200px;
  overflow: hidden;
}
.card * {
  margin: 0;
}
.button {
  position: absolute;
  right: 0;
}
.buttonSaved {
  background-color: red;
}
.characterMeaningLayout {
  display: flex;
}
