.layout {
  min-width: 200px;
  max-width: 500px;
  width: 70%;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;

  transition: all 0.1s;
}

.searchBarLayout {
  border-radius: 0.5rem;
  background-color: var(--soft-white);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.searchBar {
  min-width: 50px;
  outline: none;

  border-radius: 10px;
  border: none;

  font-size: 0.9rem;

  padding: 0.7rem;

  overflow: hidden;

  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-gray);
}

.searchBar::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: var(--medium-gray);
}

.searchButton {
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  background-color: var(--pale-gray);
}
.toggleFilterMenuButton {
  --size: 3rem;
  width: var(--size);
  height: var(--size);

  border-radius: 100%;

  background-color: var(--soft-white);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
