@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}
.header {
  margin-top: 1rem;
  z-index: 1;
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  background: linear-gradient(135deg, #00aaff, #0047ab); /* Blue gradient */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  text-align: center; /* Center the text */
  margin-top: 1rem; /* Add some margin */
}

.websiteLogo {
  --size: 5rem;

  width: var(--size);
  height: var(--size);

  border-radius: 100%;
}
.nav {
  display: flex;
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinksItem {
  list-style: none;
}
@media (min-width: 768) {
  .header {
    font-size: 6rem;
  }
}
