.mainLayout {
  display: flex;
  flex-direction: column;

  --padding-sides: 1rem;
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);

  background-color: var(--soft-white);

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: all 0.3s;
  overflow-y: scroll;
}
.mainLayoutHidden {
  top: 100%;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}
.headerWrapper img {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  filter: brightness(0) saturate(100%) invert(66%) sepia(9%) saturate(7183%)
    hue-rotate(316deg) brightness(106%) contrast(96%);
}
.header {
  font-size: 1.3rem;
  text-align: center;
  color: var(--medium-gray);
}
.entriesLayout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .headerWrapper img {
    --size: 3rem;
    height: var(--size);
    width: var(--size);
  }
  .header {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .headerWrapper img {
    --size: 2.8rem;
    height: var(--size);
    width: var(--size);
  }
  .header {
    font-size: 2.2rem;
  }
}
