.card {
  min-height: 30rem;
  /* padding: 1rem; */

  border-radius: 1rem;

  position: relative;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  background: linear-gradient(135deg, gray 90%, white);
  animation: moveBackground 10s linear infinite;
}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
