.card {
  min-height: 30rem;

  position: relative;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background: var(--light-gray);

  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05);

  animation: shadow 3s infinite alternate;
}

@keyframes shadow {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid var(--soft-white);
  }
}

.pivot {
  --anim-top-start: -10%;
  --anim-bottom-end: 110%;

  height: 10px;
  width: 10px;

  position: absolute; /* Changed to absolute for better control */

  display: flex;
  align-items: center;
  justify-content: center;

  animation: move 1.5s infinite ease-in-out; /* Changed to ease-in-out for smoother animation */
}

@keyframes move {
  0% {
    left: var(--anim-top-start);
    top: var(--anim-top-start);
  }
  100% {
    left: var(--anim-bottom-end);
    top: var(--anim-bottom-end);
  }
}

.pivot::before {
  content: "";

  transform: rotate(-60deg);

  min-height: 3rem;
  min-width: 100vw;

  background-color: white;

  box-shadow: 0 0 40px rgba(255, 255, 255, 1);
}
