.cardsLayout {
  margin-top: 5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4rem;
  width: 90%;
}

@media (min-width: 768px) {
  .cardsLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 1rem;
    width: 90%;
  }
}

@media (min-width: 1280px) {
  .cardsLayout {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
